name: Cakeshop Verify & Validation

trigger:
  branches:
    include:
      - main
      - 'team/*'
      #remvoe below entry once validation pipeline is working
      - 'dev/*'
    exclude:
      - 'dev/release-*'
  paths:
    include:
      - '*'

pr:
  - '*'

resources:
  repositories:
    - repository: cppAzureDevOpsTemplates
      type: github
      name: hmcts/cpp-azure-devops-templates
      endpoint: 'hmcts'
      #ref: 'main'
      #remvoe below entry and uncomment above entry once validation pipeline is working
      ref: 'cakeshop-validation-pipeline'

pool:
  name: "MDV-ADO-AGENT-AKS-01"
  demands:
    - identifier -equals centos8-j17

variables:
  sonarqubeProject: "uk.gov.justice.cakeshop"
  service_Name: 'cakeshop'
  itTest_Folder: 'cakeshop-integration-test'

stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - template: pipelines/context-verify.yaml@cppAzureDevOpsTemplates
        parameters:
          sonarqube_project: ${{ variables['sonarqubeProject'] }}
          sonarQubeType: 'sonarQubeAKS'

  - ${{ if eq(variables['Build.Reason'], 'IndividualCI') }}:
      - template: pipelines/context-validation.yaml@cppAzureDevOpsTemplates
        parameters:
          repo: "$(Build.Repository.Name)"
          sonarQubeType: 'sonarQubeAKS'
          serviceName: ${{ variables['service_Name'] }}
          itTestFolder: ${{ variables['itTest_Folder'] }}
